<header class="navbar navbar-fixed-top bg-biosur">
  <div class="navbar-branding">
    <a class="navbar-brand" href="{{ url('base_vista_homepage') }}">
      <!-- <b>Biosur</b> Ltda. -->
      <img src="{{ absolute_url(asset('assets/img/logo-biosur-blanco.png')) }}" style="width:150px" alt="">
    </a>
    <span id="toggle_sidemenu_l" class="ad ad-lines"></span>
  </div>
  <ul class="nav navbar-nav navbar-left">
    <li class="hidden-xs">
      <a class="topbar-menu-toggle" href="#">
        <span class="fa fa-th-large"></span>
      </a>
    </li>
    <li class="hidden-xs">
      <a class="request-fullscreen toggle-active" href="#">
        <span class="ad ad-screen-full fs18"></span>
      </a>
    </li>
  </ul>
  <!-- <form class="navbar-form navbar-left navbar-search" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Buscar" value="">
    </div>
  </form> -->
  <ul class="nav navbar-nav navbar-right">
    <!-- <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="ad ad-radio-tower fs18"></i>
        <span></span>
      </a>
      <ul class="dropdown-menu media-list w350 animated animated-shorter fadeIn" role="menu">
        <li class="dropdown-header">
          <span class="dropdown-title"> Notificaciones</span>
          <span class="label label-warning">12</span>
        </li>
        <li class="media">
          <a class="media-left" href="#"> <img src="{{ absolute_url(asset('assets/img/avatars/placeholder.png')) }}" class="mw40" alt="avatar"> </a>
          <div class="media-body">
            <h5 class="media-heading">Article
              <small class="text-muted">- 08/16/22</small>
            </h5> Last Updated 36 days ago by
            <a class="text-system" href="#"> Max </a>
          </div>
        </li>
        <li class="media">
          <a class="media-left" href="#"> <img src="{{ absolute_url(asset('assets/img/avatars/placeholder.png')) }}" class="mw40" alt="avatar"> </a>
          <div class="media-body">
            <h5 class="media-heading mv5">Article
              <small> - 08/16/22</small>
            </h5>
            Last Updated 36 days ago by
            <a class="text-system" href="#"> Max </a>
          </div>
        </li>
        <li class="media">
          <a class="media-left" href="#"> <img src="{{ absolute_url(asset('assets/img/avatars/placeholder.png')) }}" class="mw40" alt="avatar"> </a>
          <div class="media-body">
            <h5 class="media-heading">Article
              <small class="text-muted">- 08/16/22</small>
            </h5> Last Updated 36 days ago by
            <a class="text-system" href="#"> Max </a>
          </div>
        </li>
        <li class="media">
          <a class="media-left" href="#"> <img src="{{ absolute_url(asset('assets/img/avatars/placeholder.png')) }}" class="mw40" alt="avatar"> </a>
          <div class="media-body">
            <h5 class="media-heading mv5">Article
              <small class="text-muted">- 08/16/22</small>
            </h5> Last Updated 36 days ago by
            <a class="text-system" href="#"> Max </a>
          </div>
        </li>
      </ul>
    </li> -->
    <li class="dropdown hidden-xs">
      <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown"> <img src="{{ absolute_url(asset('assets/img/avatars/icono-user.png')) }}" alt="avatar" class="mw30 br64 mr15"> {{ userData.nombre }} {{ userData.apellido }}
        <span class="caret caret-tp hidden-xs"></span>
      </a>
      <ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
        <li class="list-group-item">
          <a href="{{ absolute_url(asset('app/app_biosur.apk')) }}" class="animated animated-short fadeIn">
            <span class="fa fa-cloud-download"></span> Descargar App </a>
        </li>
        <li class="dropdown-footer">
          <a href="{{ url('base_vista_salir') }}" class="">
          <span class="fa fa-power-off pr5"></span> Salir </a>
        </li>
      </ul>
    </li>
  </ul>
</header>