<div id="topbar-dropmenu">
  <div class="topbar-menu row">
    {% if userData.configuracion.permisos.Arriendos is defined and userData.configuracion.permisos.Arriendos %}
    <div class="col-xs-4 col-sm-2">
      <a href="{{ url('venta_vista_listaventa') }}" class="metro-tile">
        <img src="{{ absolute_url(asset('assets/img/arriendo.png')) }}" alt="">
        <span class="metro-title">Arriendo</span>
      </a>
    </div>
    {% endif %}
    {% if userData.configuracion.permisos.Bodega is defined and userData.configuracion.permisos.Bodega %}
    <div class="col-xs-4 col-sm-2">
      <a href="{{ url('bodega_vista_listainsumo') }}" class="metro-tile">
        <img src="{{ absolute_url(asset('assets/img/bodega.png')) }}" alt="">
        <span class="metro-title">Bodega</span>
      </a>
    </div>
    {% endif %}
    {% if userData.configuracion.permisos.Clientes is defined and userData.configuracion.permisos.Clientes %}
    <div class="col-xs-4 col-sm-2">
      <a href="{{ url('cliente_view_listacliente') }}" class="metro-tile">
        <img src="{{ absolute_url(asset('assets/img/clientes.png')) }}" alt="">
        <span class="metro-title">Clientes</span>
      </a>
    </div>
    {% endif %}
    {% if userData.configuracion.permisos.Usuarios is defined and userData.configuracion.permisos.Usuarios %}
    <div class="col-xs-4 col-sm-2">
      <a href="{{ url('usuario_vista_listar') }}" class="metro-tile">
        <img src="{{ absolute_url(asset('assets/img/usuarios.png')) }}" alt="">
        <span class="metro-title">Usuarios</span>
      </a>
    </div>
    {% endif %}
    {% if userData.configuracion.permisos.Sucursales is defined and userData.configuracion.permisos.Sucursales %}
    <div class="col-xs-4 col-sm-2">
      <a href="{{ url('sucursal_view_agregarsucursal') }}" class="metro-tile">
        <span class="imoon imoon-office"></span>
        <span class="metro-title">Sucursales</span>
      </a>
    </div>
    {% endif %}
    {% if userData.configuracion.permisos.Mantenciones is defined and userData.configuracion.permisos.Mantenciones %}
    <div class="col-xs-4 col-sm-2">
      <a href="{{ url('mantencion_vista_verruta') }}" class="metro-tile">
        <img src="{{ absolute_url(asset('assets/img/mantencion.png')) }}" alt="">
        <span class="metro-title">Mantenciones</span>
      </a>
    </div>
    {% endif %}
    <!-- <div class="col-xs-4 col-sm-2">
      <a href="#" class="metro-tile">
        <span class="fa fa-gears"></span>
        <span class="metro-title">Configuración</span>
      </a>
    </div> -->
  </div>
</div>