{% extends "VentaBundle:Layouts:body.html.twig" %}
{% block content %}
	<div class="panel">
      <div class="panel-heading">
        <div class="topbar_options"><!--
           --><div class="btn-group">
                  <button type="button" class="btn btn-md btn-biosur dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cloud-download"> </i> Exportar
                  <span class="caret ml5"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="{{ url('venta_exportar_imprimircontrato', {id:datosCliente.id_venta}) }}">Contrato</a>
                  </li>
                  <!-- <li>
                    <a href="#">PDF</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li> -->
              </ul>
            </div><!--
             --><div class="btn-group">
                    <button type="button" class="btn btn-md btn-biosur dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share"> </i> Ir a
                    <span class="caret ml5"></span>
                  </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                      <a href="{{ url('venta_vista_listaventa') }}">Lista de arriendos</a>
                  </li>
                  <li>
                      <a href="{{ url('venta_vista_ventaservicio') }}">Nuevo arriendo</a>
                  </li>
                  <!-- <li class="divider"></li>
                  <li>
                      <a href="#">Ver cliente</a>
                  </li>
                  <li>
                      <a href="#">Agregar cliente</a>
                  </li> -->
                </ul>
              </div>
          </div>
      </div>
      <div class="panel-body p20" id="invoice-item">
        
        <div class="row mb30">
          <div class="col-md-8">
            <div class="pull-left">
                <h1 id="content_nombre_cliente" class="mt10">ARRIENDO DE <span id="nombre_cliente">{{ datosCliente.nombre_cliente }}</span> <button type="button" class="btn_editar_nombre"><i class="fa fa-pencil"></i></button></h1>
                <h1 id="content_input_cliente" style="display:none"><input id="txt_nombre_cliente" type="text" value="{{ datosCliente.nombre_cliente }}" data-id="{{ datosCliente.id_cliente }}"><button type="button" class="btn_guardar_nombre"><i class="fa fa-save"></i></button></h1>
              <h5 class="mn">Arriendo N° {{ datosCliente.id_venta }}</h5>
              <h5 class="mn"> Creado el {{ datosCliente.fecha_registro }} </h5>
              <h5 class="mn"> Estado de arriendo
                {% if datosCliente.fecha_termino == null %}
                <b class="text-success">Activo</b>
                {% else %}
                <b class="text-warning">Finalizado</b>
                {% endif %}
              </h5>            </div>
          </div>
          <!-- <div class="col-md-4"> <img src="assets/img/logos/logo.png" class="img-responsive center-block mt10 mw200 hidden-xs" alt="AdminDesigns"> </div> -->
          <div class="col-md-4">
            <div class="pull-right text-right">
              <!-- <h2 class="invoice-logo-text lh10">AdminDesigns</h2> -->
              <h5> Registrado por:
                <b class="text-primary">{{ datosCliente.nombre_usuario }} {{ datosCliente.apellido_usuario }}</b>
              </h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <a href="{{ url('mantencion_vista_asignarbannos', {id: datosCliente.id_venta}) }}" class="link_widget">
              <div class="panel panel-tile bg-{{ datosCliente.asignarBanno }} light">
              <div class="panel-body pn pl20 p5">
                  <i class="fa fa-check-circle-o icon-bg"></i>
                <ul class="info_1">
                  {% if datosCliente.cbanos != 0 %}
                  <li>
                    <h2 class="mt15 lh15">
                      <b>{{ datosCliente.cbanos }}</b>
                    </h2>
                    <h5 class="text-muted">Baños</h5>
                  </li>
                  {% endif %}
                  {% if datosCliente.ccaseta != 0 %}
                  <li>
                    <h2 class="mt15 lh15">
                      <b>{{ datosCliente.ccaseta }}</b>
                    </h2>
                    <h5 class="text-muted">Casetas</h5>
                  </li>
                  {% endif %}
                  {% if datosCliente.cducha != 0 %}
                  <li>
                    <h2 class="mt15 lh15">
                      <b>{{ datosCliente.cducha }}</b>
                    </h2>
                    <h5 class="text-muted">Duchas</h5>
                  </li>
                  {% endif %}
                  {% if datosCliente.cexterno != 0 %}
                  <li>
                    <h2 class="mt15 lh15">
                      <b>{{ datosCliente.cexterno }}</b>
                    </h2>
                    <h5 class="text-muted">Externos</h5>
                  </li>
                  {% endif %}
                  {% if datosCliente.clavamano != 0 %}
                  <li>
                    <h2 class="mt15 lh15">
                      <b>{{ datosCliente.clavamano }}</b>
                    </h2>
                    <h5 class="text-muted">Lavamanos</h5>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
            </a>
          </div>
          <div class="{{ datosCliente.asignacion != 0 ? 'col-md-3':'col-md-6' }}">
            <a href="{{ url('mantencion_vista_agregarruta', {id: datosCliente.id_venta}) }}" class="link_widget">
              <div class="panel panel-tile bg-{{ datosCliente.asignarRuta }} light">
              <div class="panel-body pn pl20 p5">
                  <i class="fa fa-road icon-bg"></i>
                  <ul class="info_1">
                    <li>
                      <h2 class="mt15 lh15">
                        <b>{{ datosCliente.cantidadDias }}</b>
                      </h2>
                      <h5 class="text-muted">Ruta</h5>
                    </li>
                  </ul>
              </div>
            </div>
          </a>
          </div>
          {% if datosCliente.asignacion != 0 %}
          <div class="col-md-3">
            <a href="{{ url('mantencion_vista_asignarlavamanos', {id: datosCliente.id_venta}) }}" class="link_widget">
              <div class="panel panel-tile bg-info light">
              <div class="panel-body pn pl20 p5">
                  <i class="fa fa-pencil-square-o icon-bg"></i>
                  <ul class="info_1">
                    <li>
                      <h2 class="mt15 lh15">
                        <b>{{ datosCliente.clavamano }}</b>
                      </h2>
                      <h5 class="text-muted">Asignación</h5>
                    </li>
                  </ul>
              </div>
            </div>
          </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <span class="panel-icon">
          <i class="fa fa-map-marker"></i>
        </span>
        <span class="panel-title">Direcciónes</span>
      </div>
      <div class="panel-body p20" id="invoice-item">
        <div class="row">
          <div class="col-md-12">
            <div id="mapa" style="height: 300px;"></div>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-12 text-right">
            <button id="btn_agregar_destino" class="btn btn-biosur">Agregar Dirección</button>
          </div>
        </div>
        <br>

        <form id="form_detalle" method="post" action="{{ url('venta_ajax_guardardetalleventa') }}">
        {% for detalle in datosCliente.detalle %}
        <div class="row" id="invoice-info">
          <div class="col-md-12">
            <div class="panel panel-alt">
              <div class="panel-heading">
                <span class="panel-title">
                  <i class="fa fa-info"></i> {{ detalle.nombre_servicio }} - {{ detalle.direccion }}, {{ detalle.comuna }}, {{ detalle.provincia }}, {{ detalle.region }}
                </span>
                <span class="panel-controls">
                  <a href="#" data-id="{{ detalle.id }}" class="btn_eliminar_detalle"><i class="fa fa-close"></i></a>
                </span>
              </div>
              <div class="panel-body">
              	<div class="row">
              		<div class="col-md-3">
              			<address>
	                      <strong>Cantidad</strong>
                        {% if detalle.cbano != 0 %}     <br>Baños: {{ detalle.cbano }}         {% endif %}
                        {% if detalle.ccaseta != 0 %}   <br>Casetas: {{ detalle.ccaseta }}     {% endif %}
                        {% if detalle.cducha != 0 %}    <br>Duchas: {{ detalle.cducha }}       {% endif %}
                        {% if detalle.cexterno != 0 %}  <br>Externos: {{ detalle.cexterno }}   {% endif %}
                        {% if detalle.clavamano != 0 %} <br>Lavamanos: {{ detalle.clavamano }} {% endif %}
	                      <br> <strong>total</strong> {{ detalle.cantidadReal }} Productos
	                    </address>
              		</div>
              		<div class="col-md-3">
              			<address>
	                      <strong>Mantención</strong>
                        {% for ruta in detalle.ruta %}
                          <br> {{ ruta.nombre_dia }}
                        {% endfor %}
	                    </address>
              		</div>
                  <div class="col-md-3">
                    <address>
                        <strong>Otra información</strong>
                        <p>{{ detalle.comentario }}</p>
                      </address>
                  </div>
              		<div class="col-md-3">
              			<address>
                        <div class="form-group">
                          <label for="txt_sachet" class="control-label">Sachet</label> <label class="load"></label>
                          <input type="text" name="txt_datos[{{ detalle.id }}][sachet]" id="txt_sachet" class="form-control txt_datos" value="{{ detalle.sachet}}">
                        </div>
                        <div class="form-group">
                          <label for="txt_papel" class="control-label">Papel Higienico</label> <label class="load"></label>
                          <input type="text" name="txt_datos[{{ detalle.id }}][papel]" id="txt_papel" class="form-control txt_datos" value="{{ detalle.papel}}">
                        </div>
	                    </address>
              		</div>
              	</div>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
        </form>

      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <span class="panel-icon">
          <i class="fa fa-info"></i>
        </span>
        <span class="panel-title">Otra información<sub>10</sub></span>
      </div>
      <div class="panel-body p20" id="invoice-item">
        <div class="row" id="invoice-table">
          <div class="col-md-8">
            <h3>Últimas Mantenciones</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <!-- <th>#</th> -->
                  <th>Fecha</th>
                  <th>Descripción</th>
                  <th>Dirección</th>
                  <th>Cantidad de baños</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for key, val in listaMantencion %}
                  <tr>
                    <td>{{ val.fecha }}</td>
                    <td>{{ val.descripcion }}</td>
                    <td>{{ val.ciudad }}, {{ val.direccion }}</td>
                    <td><span class="label label-{{ val.cant_realizado >= val.cant_total ? 'system':'warning' }}">{{ val.cant_realizado }}{{ val.cant_total != 0 ? '/'~val.cant_total }}</span></td>
                    <td class="text-right">
                      <div class="btn-group">
                        <a href="#" data-idruta="{{ val.id_ruta }}" data-iddetalle="{{ val.id_detalle }}" data-fecha="{{ val.fecha }}" class="btn btn-sm btn-default btn-detalle-mantencion"><i class="fa fa-search"></i></a>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <h3>Bitácora</h3>
            <table class="table table-striped table-bordered">
              <thead>
                <tr class="success">
                  <th>Fecha</th>
                  <th>Descripción</th>
                </tr>
              </thead>
              <tbody>
                {% if bitacora %}
                  {% for reg in bitacora %}
                    <tr>
                      <td class="valign-top">{{ reg.fecha }}</td>
                      <td>{{ reg.descripcion|raw }}</td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row" id="invoice-footer">
          <div class="col-md-12">
            <!-- <div class="pull-left mt20 fs15 text-primary"> Ver todo</div> -->
            <div class="clearfix"></div>
            <!-- <div class="invoice-buttons">
              <a href="javascript:window.print()" class="btn btn-default mr10">
                <i class="fa fa-print pr5"></i> Print Invoice</a>
              <button class="btn btn-primary btn-gradient" type="button">
                <i class="fa fa-floppy-o pr5"></i> Save Invoice</button>
            </div> -->
          </div>
        </div>

      </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="detalleMantencion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Detalle Mantención</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered mbn table_detalle_mantencion">
            <thead>
              <tr>
                <th>Hora</th>
                <th>Chofer</th>
                <th>Producto</th>
                <th>Asignado</th>
                <th>Comentario</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <br>
          <div class="form-group">
		    <!-- <label for="textarea_comentario" class="control-label">Comentario</label>
		    <textarea class="form-control" name="textarea_comentario" id="textarea_comentario" rows="3"></textarea> -->
		  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mapaDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Detalle Mantención</h4>
      </div>
      <div class="modal-body">
        <div id="nmapa" style="height: 300px;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="agregar_direccion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nueva dirección</h4>
      </div>
      <div class="modal-body">
        <form id="form_nuevo_detalle" action="#" method="post">
          <input type="hidden" name="hide_id" value="{{ datosCliente.id_venta }}">
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label for="inputStandard" class="control-label">Cantidad baños</label>
                <input type="number" name="txt_cantidad_banno" id="valid_cantidad" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputStandard" class="control-label">Cantidad casetas</label>
                <input type="number" name="txt_cantidad_caseta" id="valid_cantidad" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputStandard" class="control-label">Cantidad duchas</label>
                <input type="number" name="txt_cantidad_ducha" id="valid_cantidad" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputStandard" class="control-label">Cantidad baños externos</label>
                <input type="number" name="txt_cantidad_externo" id="valid_cantidad" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputStandard" class="control-label">Cantidad lavamanos</label>
                <input type="number" name="txt_cantidad_lavamano" id="valid_cantidad" class="form-control" placeholder="">
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-md-6">
              <label class="control-label mb15">Dias de mantención*</label>
              <div class="form-group">
                <div class="checkbox-custom mb10">
                  <input type="checkbox" name="dia[1]" id="chk_lunes">
                  <label for="chk_lunes">Lunes</label>
                </div>
                <div class="checkbox-custom mb10">
                  <input type="checkbox" name="dia[2]" id="chk_martes">
                  <label for="chk_martes">Martes</label>
                </div>
                <div class="checkbox-custom mb10">
                  <input type="checkbox" name="dia[3]" id="chk_miercoles">
                  <label for="chk_miercoles">Miercoles</label>
                </div>
                <div class="checkbox-custom mb10">
                  <input type="checkbox" name="dia[4]" id="chk_jueves">
                  <label for="chk_jueves">Jueves</label>
                </div>
                <div class="checkbox-custom mb10">
                  <input type="checkbox" name="dia[5]" id="chk_viernes">
                  <label for="chk_viernes">Viernes</label>
                </div>
                <div class="checkbox-custom mb10">
                  <input type="checkbox" name="dia[6]" id="chk_sabado">
                  <label for="chk_sabado">Sabado</label>
                </div>
                <div class="checkbox-custom mb10">
                  <input type="checkbox" name="dia[7]" id="chk_domingo">
                  <label for="chk_domingo">Domingo</label>
                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label for="select_comuna" class="control-label">Comuna*</label>
                <select name="select_comuna" id="select_comuna" class="form-control select2-single">
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="txt_direccion" class="control-label">Dirección*</label>
                <input type="text" name="txt_direccion" id="txt_direccion" class="form-control" placeholder="">
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-biosur btn_guardar_detalle" data-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footerScripts %}
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk4HzcdPciUZejfLnYpXqVPXH9wfBEAj8&callback=initialize"></script>
  <script src="{{ absolute_url(asset('vendor/plugins/gmap/gmaps.js')) }}"></script>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk4HzcdPciUZejfLnYpXqVPXH9wfBEAj8"></script> -->
  <script src="{{ absolute_url(asset('assets/bundles/venta/verVenta.js')) }}"></script>

  <script>
    var zoom = 2;
    function initialize() {

        var locations = [
            {% for detalle in datosCliente.detalle %}
              {% if detalle.lat != '' and detalle.lon != '' %}
                ['<p><strong>Diercción:</strong> {{ detalle.direccion }}, {{ detalle.comuna }}</p><p><strong>Productos:</strong>'+
                '{% if detalle.cbano != 0 %} {{ detalle.cbano }} Baños, {% endif %}'+
                '{% if detalle.ccaseta != 0 %} {{ detalle.ccaseta }} Casetas, {% endif %}'+
                '{% if detalle.cducha != 0 %} {{ detalle.cducha }} Duchas, {% endif %}'+
                '{% if detalle.cexterno != 0 %} {{ detalle.cexterno }} Baños externos, {% endif %}'+
                '{% if detalle.clavamano != 0 %} {{ detalle.clavamano }} Lavamanos {% endif %}'+
                '</p>', {{ detalle.lat }}, {{ detalle.lon }}],
              {% endif %}
            {% endfor %}
        ];

        {% for detalle in datosCliente.detalle %}
          {% if detalle.lat != '' and detalle.lon != '' %}
            zoom = 11;
          {% endif %}
        {% endfor %}

        // imagen
        var image = {
          url: "{{ absolute_url(asset('assets/img/bano1.png')) }}",
          // This marker is 20 pixels wide by 32 pixels high.
          size: new google.maps.Size(26, 51),
          // The origin for this image is (0, 0).
          origin: new google.maps.Point(0, 0),
          // The anchor for this image is the base of the flagpole at (0, 32).
          anchor: new google.maps.Point(10, 40)
        };

        window.map = new google.maps.Map(document.getElementById('mapa'), {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: false,
        });

        var infowindow = new google.maps.InfoWindow();

        var bounds = new google.maps.LatLngBounds();

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                icon: image,
                map: map
            });

            bounds.extend(marker.position);

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }

        map.fitBounds(bounds);

        var listener = google.maps.event.addListener(map, "idle", function () {
            map.setZoom(zoom);
            google.maps.event.removeListener(listener);
        });

    
        // var ruta = [
        //   new google.maps.LatLng(13.6203, 101.09),
        //   new google.maps.LatLng(15.0203, 102.09),
        //   new google.maps.LatLng(14.6203, 101.29),
        // ]; 

        // var lineas = new google.maps.Polyline({        
        //   path: ruta,
        //   map: map, 
        //   strokeColor: 'red', 
        //   strokeWeight: 4,  
        //   strokeOpacity: 0.6, 
        //   clickable: false
        // });
    }

    $(function(){
      // initialize();
    })
  </script>
{% endblock %}