{% for bano in listaBannos %}
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		<div class="panel">
			<div class="panel-body">
				<div class="media targeta_qr">
				  <a class="media-left" href="#">
				    <img src="{{ qrcode_data_uri(bano.id , { size: 100, padding: 10, label: bano.id }) }}" />
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">{{ bano.tipo }} ({{ bano.letra }})<span class="label label-xs label-{{ bano.enbodega == 1 ? 'warning' : 'system' }} ml5">{{ bano.enbodega == 1 ? 'EN BODEGA' : 'ARRENDADO' }}</span></h4>
				    <h4 class="media-heading">{{ bano.id }}</h4>
				    <!-- <ul class="icon-list">
				    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
				    	<li><i class="fa fa-minus"></i></li>
				    </ul> -->
				    <div class="info-listaproductos">
				    	<span>- {{ bano.cliente_nombre }}</span>
				    	<span>- {{ bano.cliente_direccion }} {{ bano.cliente_comuna }}</span>
				    </div>
				    <a download="barcode_{{ bano.id }}" href="{{ qrcode_data_uri(bano.id , { size: 200, padding: 10, label: bano.id }) }}" class="btn btn-biosur btn-sm"><i class="fa fa-cloud-download"></i> Exportar</a>

				    <a class="btn btn-disabled btn-sm btn-habilitar" data-id="{{ bano.realid }}" data-estado="{{ bano.habilitado }}" href="#"> <i class="fa {{ bano.habilitado ? 'fa-check-circle-o':'fa-circle-o' }} fa-2x" style="color:{{ bano.habilitado ? '#70ca63;': '#e9573f;' }}"></i> </a>
				  </div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}