{% extends "BodegaBundle:Layouts:body.html.twig" %}
{% block content %}
	<div class="row">
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-body">
					<div class="media targeta_qr">
					  <a class="media-left" href="#">
					    <img src="{{ qrcode_data_uri(message, { size: 100, padding: 10, label: '000000012' }) }}" />
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">00000012 <span class="label label-xs label-system ml5">Arrendado</span></h4>
					    <ul class="icon-list">
					    	<li><i class="fa fa-minus"></i> Marca - Modelo</li>
					    	<li><i class="fa fa-minus"></i> Con lavamanos</li>
					    </ul>

					    <!-- <a class="text-system" href="#"> Max </a> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block footerScripts %}
{% endblock %}