<html>
	<head>
		<style>
			/* TABLA*/
			#content table{
				width:100%;
				border-collapse: collapse;
				margin-top:20px;
				font-size: 14px;
			}

			#content table .check{
				width:40px;
			}

			#content table .titulo{
				color: #000 !important;
				font-size: 18px;
				font-weight: bold;
			}

			#content table, #content table td, #content table th{
				border:1px solid;
				border-color: #ea661c;
			}

			#content table th{
				padding: 7px;
				color: #ea661c;
				background-color: #ffdfcc;
			}
			
			#content table td{
				padding: 5px;
				text-align: center;
			}

			#content table .w150{
				width:150px;
			}

			#content table .w100{
				width:100px;
			}

			#head{
				text-align: center;
				margin-bottom: 50px;
			}

			#head img{
				position:absolute;
			}
		</style>
	</head>

	<body>
		<div id="content">
			<div id="head">
				<img src="{{ absolute_url(asset('assets/img/logo-biosur.png')) }}" alt="">
				<h2>Informe De Mantención</h2>
			</div>
			<div id="body">

				{% for key, value in informe.chofer %}
				<table>

					<thead>
						<tr>
							<th class="titulo" colspan="3">{{ key }}</th>
						</tr>
						<tr>
							<th>Insumo</th>
							<th colspan="2">Cantidad</th>
						</tr>
					</thead>

					<tbody>

						{% for key2, value2 in value if value2 %}
						<tr>
							<th>{{ key2 }}</th>
							<td>{{ value2 }}</td>
							<td class="check"></td>
						</tr>
						{% endfor %}
					</tbody>

				</table>
				{% endfor %}

				<table>

					<thead>
						<tr>
							<th colspan="3" class="titulo">TOTAl</th>
						</tr>
						<tr>
							<th>Insumo</th>
							<th colspan="2">Cantidad</th>
						</tr>
					</thead>

					<tbody>

						{% for key, value in informe.total if value %}
						<tr>
							<th>{{ key }}</th>
							<td>{{ value }}</td>
							<td class="check"></td>
						</tr>
						{% endfor %}
					</tbody>

				</table>



			</div>
		</div>
	</body>
</html>