<!DOCTYPE html>
<html>

	<head>
		<style>
			
			p, li{
				font-family: Helvetica, Arial, Sans-Serif;
				letter-spacing: 1px;
			}

			.pagina{
				overflow: hidden;
		        page-break-before: always;
		    }

			.div-6{
				width:50%;
				float: left;
				padding:0px;
			}

			.div-12{
				width:100%;
				padding:0px;
				float:left;
			}

			.item{
				width:100%;
				border:1px solid white;
				padding:0px;
				margin:0px;
				font-size: 11px;
			}
			
			/* configurar espacios */
			/* nuevo item */
			.item-1{
				height:70px;
			}

			.item-1 p{
				margin-left:30px;
				margin-top:30px;
				width: 300px;
			}
			/* nuevo item */
			.item-2{
				height:100px;
			}

			.item-2 p{
				margin-left:10px;
				margin-top:30px;
				width:300px;
			}
			/* nuevo item */
			.item-3{
				height:125px;
			}
			
			.item-3 ul{
				list-style: none;
				margin-top:0;
				margin-bottom:0;
				margin-left:220px;
			}

			.item-3 ul li{
				height:11.5px;
			}
			/* nuevo item */
			.item-4{
				height:20px;
			}
			
			.item-4 ul{
				list-style: none;
				margin-top:7px;
				margin-bottom:0;
				margin-left:40px;
			}

			.item-4 ul li{
				float:left;
				width:36px;
			}
			/* nuevo item */
			.item-5{
				height:110px;
				padding-top:7px;
			}

			.item-5 span{
				margin-left:50px;
			}
			/* nuevo item */
			.item-6{
				height:30px;
			}

			.item-6 p{
				margin-left:100px;
				margin-top:12px;
			}
			/* nuevo item */
			.item-7{
				height:25px;
			}

			.item-7 p{
				margin-left:100px;
				margin-top:15px;
			}
			/* nuevo item */
			.item-8{
				height:35px;
			}

			.item-8 p{
				margin-left:100px;
				width:200px;
				/*margin-top:20px;*/
			}
			/* nuevo item */
			.item-9{
				height:125px;
				padding-top:6px;
			}

			.item-9 p{
				margin-left:0px;
				width:300px;
			}

			/* nuevo item */
			.item-10{
				height:125px;
				padding-top:8px;
			}

			.item-10 p{
				margin-left:160px;
				margin-bottom:22px;
			}

			.item-11{
				height:100px;
			}

			.item-11 ul{
				list-style: none;
				margin-left: 440px;
				margin-top:30px;
			}

			.item-11 ul li{
				height:11.5px;
			}

			.salto{
				height: 8px;
			}

		</style>
	</head>

	<body>
		<div id="contenido_paginas">
		{% set salto = 0 %}

		{% for pagina in formulario %}

			{% if salto == 1 %}
				{% set div_salto = '<div class="salto"></div>' %}
			{% else %}
				{% set div_salto = '' %}
				{% set salto = 1 %}
			{% endif %}



		<div class="pagina">
			{{ div_salto|raw }}
			<div class="div-6">
				<div class="item item-1">
					<p>{{ pagina.input_nombre }}</p>
				</div>
				<div class="item item-3">
					<ul>
						<li>{{ pagina.servicio1 }}</li>
						<li>{{ pagina.servicio2 }}</li>
						<li>{{ pagina.servicio3 }}</li>
						<li>{{ pagina.servicio4 }}</li>
						<li>{{ pagina.servicio5 }}</li>
						<li>{{ pagina.servicio6 }}</li>
						<li>{{ pagina.servicio7 }}</li>
						<li>{{ pagina.servicio8 }}</li>
						<li>{{ pagina.servicio9 }}</li>
						<li>{{ pagina.servicio10 }}</li>
						<li>{{ pagina.servicio11 }}</li>
					</ul>
				</div>
				<div class="item item-6">
					<p>{{ pagina.input_direccion }}</p>
				</div>
				<div class="item item-7">
					<p>{{ pagina.input_fono }}</p>
				</div>
				<div class="item item-8">
					<p>{{ pagina.input_comuna }}</p>
				</div>
				<div class="item item-10">
					<p>{{ pagina.input_nombre_conductor }}</p>
					<p>{{ pagina.input_patente }}</p>
				</div>
			</div>
			<div class="div-6">
				<div class="item item-2">
					<p>{{ pagina.input_nombre_responsable }}</p>
				</div>
				<div class="item item-4">
					<ul>
						{% set nueva_fecha = pagina.input_fecha|split('/') %}
						<li>{{ nueva_fecha.0 is defined ? nueva_fecha.0 }}</li>
						<li>{{ nueva_fecha.1 is defined ? nueva_fecha.1 }}</li>
						<li>{{ nueva_fecha.2 is defined ? nueva_fecha.2 }}</li>
					</ul>
				</div>
				<div class="item item-5">
					<span>{{ pagina.input_hora }}</span>
				</div>
				<div class="item item-9">
					<p></p>
				</div>
			</div>
			<div class="div-12">
				<div class="item item-11">
					<ul>
						<li>{{ pagina.insumo1 }}</li>
						<li>{{ pagina.insumo2 }}</li>
						<li>{{ pagina.insumo3 }}</li>
						<li>{{ pagina.insumo4 }}</li>
						<li>{{ pagina.insumo5 }}</li>
					</ul>
				</div>
			</div>
	
		</div>

		{% endfor %}
		<form id="form_pdf" action="{{ url('mantencion_pdf_reporte') }}" method="post">
			<input type="hidden" name="json" value="{{ informe }}">
		</form>
		</div>
		<script src="{{ absolute_url(asset('vendor/jquery/jquery-1.11.1.min.js')) }}"></script>
		<script>
		$(function(){
			window.print();

			$("#form_pdf").submit();
		});

		</script>
		
	</body>

</html>