{% extends "MantencionBundle:Layouts:body.html.twig" %}

{% block content %}
	
	<div id="alerts"></div>
	<div class="row">
      <div class="col-md-12">
          <div class="panel panel-visible" id="spy3">
            <div class="panel-heading">
            	<div class="topbar_options"><!--
                 --><!--<div class="btn-group">
                        <button type="button" class="btn btn-md btn-biosur dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cloud-download"> </i> Exportar
                        <span class="caret ml5"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                     	<li>
                        	<a href="#">Excel</a>
                      	</li>
                      	<li>
                        	<a href="#">PDF</a>
                      	</li>
                      	<li>
                        	<a href="#">HTML</a>
                      	</li>
                    </ul>
                  </div><!--
                  --><div class="btn-group">
                        <button type="button" id="btn_guardar_asignacion" class="btn btn-md btn-biosur"><i class="fa fa-save"> </i> Guardar
	                    </button>
	                </div><!--
                  --><div class="btn-group">
                        <button type="button" class="btn btn-md btn-biosur" data-toggle="modal" data-target="#nuevocamion"><i class="fa fa-plus"> </i> Agregar camión
	                    </button>
	                </div>
                </div>
            </div>
            <div class="panel-body">
            	<div class="row">
					<form id="form_asignacion" action="{{ url('mantencion_ajax_guardarcamion') }}" method="post">
					{% for camion in listaCamiones %}
	            		<div class="col-md-6">
							<div class="panel panel-alt">
					            <div class="panel-heading">
					                <span class="panel-title">
					                  	<i class="fa fa-info"></i> Patente: {{ camion.patente }}
					                </span>
					            </div>
				              	<div class="panel-body">
					              	<table class="table table-bordered mbn">
										<tbody>
											<tr>
											  <td>Chofer:</td>
											  <td>
											  	<div class="form-group">
							                      	<select name="select_camion[{{ camion.id }}]" class="form-control select2-single">
							                        	<option value="default">Seleccionar</option>
							                        	{% for chofer in listaUsuario %}
							                        	<option value="{{ chofer.id }}" {{ camion.usuario == chofer.id ? 'selected' }}>{{ chofer.nombre }} {{ chofer.apellido }}</option>
							                        	{% endfor %}
								                    </select>
								                </div>
											  </td>
											</tr>
										</tbody>
									</table>
				              	</div>
				            </div>
	            		</div>
            		{% endfor %}
            		</form>

            	</div>
            	<div class="row">
      					

            	</div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="nuevocamion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Nuevo camión</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div id="tipo_producto" class="col-md-12">
								<div class="form-group">
								    <label for="" class="control-label">Patente</label>
								    <input type="text" id="input_patente" min="1" class="form-control" placeholder="" required>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="button_guardarcamion" class="btn btn-biosur">Guardar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block footerScripts %}
	<script src="{{ absolute_url(asset('assets/bundles/mantencion/agregarCamion.js')) }}"></script>
{% endblock %}